---
import BentoContainer from "../../global/BentoContainer.astro";



---
<section id="#bentogrid" class="mx-auto p-20">

    <BentoContainer id={1} title="1" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
    <BentoContainer id={2} title="2" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
    <BentoContainer id={3} title="3" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={5}/>
    <BentoContainer id={4} title="4" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={2}/>


    <BentoContainer id={5} title="5" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
    <BentoContainer id={6} title="6" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
    <BentoContainer id={7} title="" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={3} colSpan={5}/>
    <BentoContainer id={8} title="8" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
    <BentoContainer id={9} title="9" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>


    <BentoContainer id={10} title="10" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={2}/>
     <BentoContainer id={11} title="11" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     <BentoContainer id={12} title="12" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     
     <BentoContainer id={13} title="13" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     <BentoContainer id={14} title="14" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     <BentoContainer id={15} title="15" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={2}/>
     <BentoContainer id={16} title="16" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={2}/>

     <BentoContainer id={17} title="17" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     <BentoContainer id={18} title="18" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={3}/>
     <BentoContainer id={19} title="19" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     
     <BentoContainer id={20} title="20" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
     <BentoContainer id={21} title="21" imgSrc={`https://picsum.photos/id/${Math.floor(Math.random() * 100) + 1}/300/300`} rowSpan={1} colSpan={1}/>
	
</section>
		  
	<style>

		section{
		
			display: grid;
            grid-template-columns: repeat(auto-fit, minmax(9vw, auto));
            grid-auto-rows: clamp(100px, 9vw, 150px);
  
            grid-auto-flow: row dense;
            grid-gap: 20px;
            justify-content: center;
            align-items: center;
            justify-items: center;
		
		
			
			
			height: 100%;
            background-color: #131215;
          
			
		}
    

	
 </style>