---
import BotonFlecha from '../../global/BotonFlecha.astro'
import BuyOrApplyFree from '../../global/BuyOrApplyFree.astro';
---

<section id="platform">
	
   <div class="row-platform">

       <span class="title">The platform that powers <span class="gradient-text"> administration. </span> </span>
   </div>
   
    <p class="description">No matter what type of property you run, a successful lodging business requires the right tools to compete effectively online, optimize operational costs, and meet the high expectations of the digitally connected guest.</p>

   
    <div class="fila-fc">
        <img src="/image/hotel/wallpaper2.png" alt="hero background">
    </div>

      
    <BuyOrApplyFree boton1StrokeColor='#1B69DF' boton1TextColor='#1B69DF' icon1Color='#1B69DF'  midleText_tailwind_color='primaryTextColor'/>


        
    </section>






<style>
    svg{
        width: clamp(50px, 20vw, 80px);
        height: clamp(50px, 20vh, 80px);
    }
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    .texto-or{
			font-size: clamp(10px, 20vw, 24px);
		}	
    .main-enroll-active-use{
        display:flex;
        flex-direction: row;
        flex-grow: 1;
        justify-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: clamp(0px, 10vw, 20px);
        padding: clamp(0px, 10vw, 20px);
        margin-top: 50px;
    }
    .main-enroll-active-use .title{
        font-size: clamp(12px, 40vw, 40px);
        text-align: justify;
        text-justify: inter-word;
        text-wrap: pretty;
    }
    .main-enroll-active-use .description{
        font-size: clamp(12px, 20vw, 18px);
        text-align: justify;
        font-weight: 100;
        text-wrap: pretty;
        padding: clamp(0px, 10vw, 12px);
    }
    .enroll-active-use:before {
    content: "";
    position: absolute;
    box-sizing: inherit;
}
    .enroll-active-use{
        position: relative;
      
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        background-color: rgb(0, 0, 0);
        border: 3px solid #ffffff;
        box-shadow: 10px 10px 0 0px #000000;
        width: clamp(50px, 70vw, 450px);
        inset: 0;
        border-radius: 15px;
       

    }
    .enroll-active-use::after{
   
        position: absolute;
        content: "";
        background-color: var(--secondary-color);
        border-color: #5746E5;
        inset: 1rem -20px -20px 1rem;
        border-radius: 1rem;
        z-index: -10;
    }


    section{
        
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            padding-top: 5vh;
            padding-bottom:  5vh;
            width: 100%;
            gap:2rem;
            padding: clamp(0px, 10vw, 100px);
        }

        .row-platform{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            max-width: 80vw;
        }
    
    
        
    
        .title, .platform{
               
                color:var(--primary-text-color);
                font-size: clamp(1rem, 10vw, 72px);
                font-weight: 700;
                text-align: center;
               
                line-height: 1;
                list-style: none;
                }
                .gradient-text{
                    background: var(--primary-gradient);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
               
                }
         
            
                .description {
                  color: var(--primary-text-color);
                  font-weight: 100;
                  font-size: clamp(1rem, 5vw, 28px);
                  justify-content: center;
                  text-align: left;
                
                  margin-bottom:10px;
                  max-width: 80%;
                }
                img{
                    width: 80vw;
                    height: clamp(50px, 50vw, 500px);
                }
        
      
    @media (max-width: 768px) {
        .main-enroll-active-use{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 100px;
        }
        .description{
            max-width: 100%;
            text-align: center;
        }
    }
    
    @media (max-width: 450px) {
    
        .main-enroll-active-use{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: clamp(50px, 80vw, 450px);
            gap: 2rem;
            padiding: 0px;
        }
        .botones {
				flex-direction: column;
				align-items: center;
				bottom: 5%;
				
		
				}
    }
    @media  screen and (height< 450px) {
				section{
		
					padding-top: clamp(200px, 50vh, 400px);
					margin-bottom: clamp(200px, 50vh, 300px);
				}
				.botones {
				flex-direction: column;
				align-items: center;
				bottom: 5%;
				
		
				}
			}
      
    </style>

