---
import BotonFlecha from "../../global/BotonFlecha.astro";


---
<section id="hospitality">


	<div class="main-container">
		<div class="columna-izquierda" >

			<div class="columna-izquierda-texto-seccion">
				<h1>#1 HOSPITALITY MANAGEMENT SYSTEM</h1>
				<p class="title">
					Powerful, Intuitive, Unified; A platform to manage your property.</p>
				<p class="description">
					
					Successful properties get better with <span class="font-bold">CloudInn</span>
					revenue, operations and experiences
					optimized guests.
				</p>
				<BotonFlecha texto="Request demo" link="https://cb-luna.github.io/uwifi_map_services_acp_build/" backgroundColor="#24A342" textColor="#ffff" borderColor="#24A342" iconColor="#ffff" />
			</div>
	

		
		</div>

		<div class="columna-derecha">
			<span class="green-ball-blured" id="ball1"></span>
			<video autoplay loop muted>
				<source src="/videos/hotel1.mp4" type="video/mp4">
				Tu navegador no soporta el elemento de video.
			  </video>
		</div>
	</main>
</section>
		  
	<style>


		section{
		
			display: flex;
			flex-direction: column;
		
			block-size: auto;
			padding: clamp(20px, 50vw, 100px);
			
			margin-top: 95px;
			background: var(--primary-gradient);
		}
	
		.main-container{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		
		
	}
		.columna-izquierda{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: auto;
			gap: 2rem;
		
		}
		.columna-derecha{
			position: relative;
			display: flex;
			flex-direction: column;
			align-self: center;
			width: clamp(280px, 50vw, 800px);
		
		
			
		}
		
		.columna-izquierda-texto-seccion{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 2rem;
			box-sizing: border-box;
			width: clamp(280px, 50vw, 700px);
			
		}
		

			.title, .best{
			color: var(--tertiary-text-color);
			font-size: clamp(30px, 5vw, 60px);
			font-weight: 700;
			display: block;
			text-wrap: balance;
			text-align: left;

			}
			h1{
			color: #79AEFF;
		
			font-size: 25px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			}
	
			.subtitle{

				
			color: var(--primary-text-color);
			font-size: clamp(20px, 5vw, 50px);
			font-weight: 400;
			letter-spacing: 2px;
			text-align: left;
			word-spacing: 5px;
			text-wrap: pretty;
			font-weight: 300;
			margin-top: 1rem;
			display: block;
			}
		
		  
			video {
			width: 100%;
			height: 100%;
			border-radius: 15px;
			border: #08387f 2px solid;
			box-shadow: 0px 0px 10px 0px #08387f;
			}

			.description {
				
			  color: var(--tertiary-text-color);
			  font-weight: 300;
			  text-wrap: pretty;
			  font-size: clamp(20px, 5vw, 35px);
			  display: block;
			  max-width: 700px;
			}

		
	
			@media (max-width: 768px) {
				.main-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				gap: 1rem;
				}
				section{
					padding-left: clamp(20px, 5vw, 50px);
				padding-right: clamp(20px, 5vw, 50px);
				
				}
				.columna-izquierda-texto-seccion{
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 2rem;
				width: 100%;
				}
				.title, .best, .subtitle{
				text-align: center;
			
				}
			
			}
			
	
 </style>